:root {
    --background-surface: #EFEFEF;
    --color1: #43281C;
    --color2: #333D29;
    --color3: #7F4F24;
    --color4: #B08968;
    --color5: #DDB892;
    --color6: #EDE0D4;
    --color7: #832424;
    --resaltado: #FBF2C6;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-surface);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

main {
    margin: auto;
    margin-top: 86px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

h1 {
    background-color: var(--color1);
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px 0 5px 0;
    font-size: 2em;
    font-weight: normal;
}

h2 {
  background-color: var(--color4);
  text-align: center;
  color: var(--color7);
  margin-bottom: 0;
}

footer {
  text-align: center;
  background-color: var(--color1);
  align-items: center;
}

footer>small {
  font-weight: bold;
  color: white;
}


a {
  text-decoration: none;
  color: var(--color6);
}

a:hover {
  color: var(--color3);
}

nav {
  box-shadow: -12px -15px 21px var(--color7)
}

 .navbar {
  display: flex;
  background-color: var(--color1);
  align-items: center;
  width: 100%;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 10%;
}

.links {
  float: left;
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

.links>a,
.link-inicio>a {
  font-size: 0.9em;
  text-decoration: none;
}

.link-inicio>a {
  margin-left: 10%;
}


.buscar {
  flex: 3;
  float: left;
  align-items: center;
}

.iconos {
  float: right;
  margin-right: 1%;
}

.buscar {
  margin-left: 10%;
}

.buscar input {
  width: 20%;
  vertical-align: center;
  border-radius: 5%;
  background-color: var(--color6);
  border: 1px solid var(--color3);
  height: 100%;
  border-radius: 15px;
}

.buscar button {
  display: box;
  width: 10%;
  height: 100%;
  background-color: var(--color5);
  border-radius: 40px;
  color: var(--color3);
  font-size: 16px;
}

.fa {
  font-size: 24px;
}

.main-section {
 flex: 3;
}

.promociones {
  flex: 1;
}

.contenedor-articles-flex {
  display: flex;
  flex-direction: row;
}

.recomendaciones {
  margin-left: 5%;
  flex: 50%;
}

.recomendaciones div,
.productos-populares ul {
  margin-top: 0;
  background-color: var(--color5);
}

.recomendaciones div>p,
.recomendaciones div>blockquote {
  margin-top: 0;
  margin-left: 10%;
  color: #000000;
}

.recomendaciones div>p {
  font-weight: 300;
}

.recomendaciones div>blockquote {
  padding-left: 5%;
  font-weight: bold;
}

.productos-populares {
  margin-left: 5%;
  margin-right: 5%;
  flex: 50%;
  align-items: center;
}

.productos-populares ul {
  padding-left: 40%;
}

.publicidad h2 {
  margin-bottom: 5%;
}

.promociones-article {
  margin-top: 4%;
}

.link-producto {
  font-weight: 700;
  color: black;  
}

.link-producto {
  text-decoration: none;
}

